.instance-info-container {
    display: flex;
    position: relative;
    flex-direction: column;
    color: var(--color-white);
    width: 100%;
    height: 170px;
    background: #000;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 24px;
    gap: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-color: #fff;
    }

    .upper-text {
        display: flex;
        align-items: center;
        gap: 8px;

        h2 {
            font-weight: 700;
            color: #fff;
        }
    }

    .lower-text {
        h3 {
            padding-left: 48px;
            font-size: clamp(16px, 2vw, 24px);
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .vpn-info {
        position: absolute;
        display: flex;
        right: 24px;
        bottom: 24px;
        background: transparent;
        border: 2px solid #fff;
        white-space: nowrap;
        border-radius: 50px;
        width: 215px;
        height: 60px;
        padding: 5px;
        font-weight: 600;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: clamp(24px, 2vw, 28px);
        color: #fff;
    }
}