.arena-form-frame {
  background-image: url('../../img/arena/create_room_form.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.add-arena-form {
  width: 80%;
  max-width: 1000px;
  height: 98%;
  background-color: #070707; // 내부 박스 어두운 배경
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #f1f5f9; // 텍스트 기본 색

  .title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: #f1f5f9;
  }

  input,
  select {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #1e293b;
    border: 1px solid #3cf0fd;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    transition: border 0.3s ease;

    &::placeholder {
      color: #0bbbe7;
    }

    &:focus {
      outline: none;
      border-color: #00ccff;
      box-shadow: 0 0 8px #00ffcc88;
    }
  }

  .row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    > * {
      flex: 1;
    }
  }

  button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.9rem 1rem;
    border: none;
    border-radius: 9999px;
    font-size: 1.1rem;
    font-weight: bold;
    background: linear-gradient(90deg, #00ffff, #00ccff);
    color: #0f172a;
    box-shadow: 0 0 20px #00d9ffaa;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 25px #00d9ffcc;
    }
  }

  .form-error {
    color: #ff4d4d;
    font-weight: bold;
    text-align: center;
  }
}
