.arena-form-frame {
  background-image: url('../../img/arena/create_room_form.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.add-arena-form {
  width: 90%;
  height: 100%;
  background-color: #000000cc;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    color: #00ffff;
  }

  input,
  select {
    background: #111;
    color: white;
    padding: 0.75rem;
    border: 1px solid #00ffffaa;
    border-radius: 8px;
  }

  button {
    background: #00ffff;
    color: #000;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px #00ffff88;
    cursor: pointer;
  }

  .form-error {
    color: #ff4d4d;
    text-align: center;
  }
}
