.create-arena {
  width: 250px;
  height: 100px;

  background-image: url('../../img/arena/create_room_button.png'); // ✅ 이미지 경로 확인
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.create-arena-title {
  color: #00ffff;
  font-size: 1.3rem;
  font-weight: bold;;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 8px #00ffffaa;
  height: 40%;
}
