.shop-page {
  padding: 2rem;
  text-align: center;
  background-color: aliceblue;
}

.shop-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: black;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
  background-color: antiquewhite;
}