.shop-item-card {
  border: 2px solid #999;
  padding: 16px;
  margin: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.6);
  color: white;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 8px #00fff7;

  .item-name {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .item-description {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }

  .item-price {
    font-weight: bold;
    margin-bottom: 12px;
  }

  .buy-button {
    padding: 6px 12px;
    background: #00fff7;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      background: #00c7b7;
    }
  }
}
