@use "../style" as *;

.my_stats_container {
    @include background_set;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 50%;
    padding: 16px 32px;
    overflow-y: hidden;
}