.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    color: var(--color-white);
    gap: 4px;
    padding: 2rem 2rem 1rem 2rem;
    font-family: 'Orbitron', sans-serif;

    .stats-header {
        width: 100%;
        height: 70px;
        padding-left: 24px;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 600;
        color: #00f6ff;
        text-shadow: 0 0 10px #00f6ff;
        font-family: 'Orbitron', sans-serif;
    }

    .stats-upper-container {
        display: flex;
        width: 90%;
        height: 250px;
        justify-content: space-around;
        align-items: center;
        gap: 32px;
        margin: 16px 0;

        .stats-avatar {
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding-bottom: 16px;

            .stats-avatar-image {
                width: 150px;
                height: 150px;
                font-size: 2.5rem;
            }
        }

        .stats-progress {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: auto;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-left: 1px solid var(--color-list-border);
            border-right: 1px solid var(--color-list-border);

            .stats-progress-container {
                position: relative;
                justify-content: center;
                align-items: center;
                display: flex;

                .progress-bar {
                    color: #1976d2;
                }

                .progress-text {
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .h6,
                    .caption {
                        color: var(--color-white);
                    }
                }
            }

            .next-level {
                width: 250px;
                text-align: center;
            }
        }

        .stats-rank {
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .rank-badge {
                width: 200px;
                height: 200px;
            }
        }
    }
}