.battle-card {
  width: clamp(180px, 25vw, 350px);
  aspect-ratio: 1 / 2; 
  perspective: 900px;
  flex-shrink: 1;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.0s;
  }

  &:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.25rem, 2vw, 4rem);
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  .card-front {
    background-color: #1e1e1e;
    color: white;
    border: 2px solid #00ff95;
  }

  .card-back {
    background-color: #00ff95;
    color: black;
    transform: rotateY(180deg);
  }
}